* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.myButton {
 display: flex;
 align-items: flex-end;

}

.galleryList {
  display:flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 15px;
}

.hidden {
  display: none !important;
}

.emptyGallery {
  width: 100%;
  text-align: center;
}

