#about {
  margin: 230px 60px -20px 60px;
  font-size: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  padding: 10px;
}

.aboutP {
  text-align: justify;
  padding: 50px;
  height: auto;
  background-color: #fee762ea;
}

@media (max-width: 880px) {
  #about {
    margin: 90% 60px 100px 60px;}
  .aboutP {
    font-size: 15px;
  }
}

