#user {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
#user .buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
#user .buttonsWrapper button {
  width: calc(50% - 10px);
}
